

<div class="container-lg mt-lg-5 ">
  <div class="card border p-2 ">
    <div class="card-header text-info  border-bottom border-info" style="background-color: white;">
      留言
    </div>

    <!--            留言发送输入框-->
    <div class="card-body">
      <input type="hidden" name="parentCommentId" value="-1" id="parentCommentId">
      <input type="hidden" name="replyCommentId" value="-1" id="replyCommentId">
      <!--            输入框-->
      <div id="noteEdit">
        <textarea name="content" id="content" placeholder="说点什么。。。"></textarea>
      </div>

      <!--留言列表-->

      <div th:fragment="commentslist" id="commentslist">
        <div class=" container-lg mt-lg-5 border p-lg-2" style="border-top: #17a2b8 solid 2px !important;">
          <div class="p-1 comments">
            <div class="container comment  m-1 p-0" th:each="comment,stat:${comments}">
              <a class="me-a avatar p-0 m-0">
                <img
                    class="w-100 h-100 rounded-circle" th:src="@{${comment.user.headPortrait}}"
                    src="https://s1.ax1x.com/2020/04/10/GTQcH1.png"
                    alt=""
                >
              </a>
              <div class=" ml-3 border-left ">
                <div class="container ml-2">
                  <a class="author">
                    <span th:text="${comment.user.loginUserName}">王也</span>
                    <span
                        class="border-primary border rounded text-primary small  p-1"
                        th:text="${comment.user.nickName}"
                    >亿贫如洗</span>
                    <span
                        class="summary-text small"
                        th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm:ss')}"
                    >2020-04-10 16:01:27</span>

                    <a
                        href="#" onclick="reply(this)"
                        th:attr="data-commentId=${comment.cid},data-nickName=${comment.user.loginUserName},data-parentCommentId=${comment.parentCommentId!=null ? comment.parentCommentId:comment.cid}"
                    ><span
                        class="summary-text small"
                    >回复ta</span>
                    </a>
                    <a
                        href="javascript:void(0);" onclick="deletecomment(this)"
                        th:attr="data-commentid=${comment.cid}"
                    >
                      <span class="summary-text small">删除</span>
                    </a>
                  </a>
                </div>

                <div class="messageText ml-2 container m-2" th:text="${comment.content}">诸葛青，你败过吗？
                </div>
                <!--  评论回复-->
                <div class="p-1 comments m-3">
                  <div
                      class="container comment  m-1 p-0"
                      th:each="reply,replystat: ${comment.replyBlogComments}"
                  >
                    <a class="me-a avatar p-0 m-0 ">
                      <img
                          class="w-100 h-100 rounded-circle" th:src="@{${reply.user.avatar}}"
                          src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586518306370&di=600bf4377f924f0839d54e1c415228da&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201712%2F17%2F20171217170206_MAmwi.png"
                          alt=""
                      >
                    </a>
                    <div class=" ml-3  ">
                      <div class="container ml-2">
                        <a class="author ">
                          <span th:text="${reply.user.loginUserName}">冯宝宝</span>
                          <span
                              class="border-primary border rounded text-primary small  p-1"
                              th:text="${reply.user.nickName}"
                          >机智一批</span>
                          <span
                              class="text-info"
                              th:text="|@ ${reply.replyToComment.user.loginUserName}|"
                          >@王也 </span>
                          <span
                              class="summary-text small"
                              th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm:ss')}"
                          >2020-04-10 16:01:27</span>
                        </a>
                      </div>
                      <div class="messageText ml-2 container m-2" th:text="${reply.content}">
                        王也，你被埋过吗？
                      </div>
                      <div class="messageText ml-2 container m-2">

                        <a
                            href="#" onclick="reply(this) "
                            th:attr="data-commentId=${reply.cid},data-nickName=${reply.loginUserName},data-parentCommentId=${reply.parentCommentId!=null ? reply.parentCommentId:reply.cid}"
                        ><span
                            class="summary-text small"
                        >回复ta</span>
                        </a>
                        <a
                            href="#" onclick="deletecomment(this)"
                            th:attr="data-commentid=${reply.cid}"
                        >
                          <span class="summary-text small">删除</span>
                        </a>

                      </div>
                    </div>

                  </div>

                </div>
              </div>

            </div>

            <!--/*-->
            <div class="container comment  m-1 p-0">
              <a class="me-a avatar p-0 m-0">
                <img
                    class="w-100 h-100 rounded-circle"
                    src="http://img.jk51.com/img_jk51/146022467.jpeg"
                    alt=""
                >
              </a>
              <div class=" ml-3 border-left ">
                <div class="container ml-2">
                  <a class="author">
                    <span>冯宝宝</span>
                    <span class="border-primary border rounded text-primary small  p-1">机智一批</span>
                    <span class="summary-text small">2020-04-10 16:01:27</span>
                    <a href="#">
                      <span class="summary-text small">回复ta</span>
                    </a>
                  </a>
                </div>
                <div class="messageText ml-2 container m-2">他们总说我瓜，其实我一点也不瓜，大多时候我都机智的一批</div>
                <!--  评论回复-->
                <div class="p-1 comments m-3">
                  <div class="container comment  m-1 p-0">
                    <a class="me-a avatar p-0 m-0 ">
                      <img
                          class="w-100 h-100 rounded-circle"
                          src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3020624611,2570469813&fm=26&gp=0.jpg"
                          alt=""
                      >
                    </a>
                    <div class=" ml-3  ">
                      <div class="container ml-2">
                        <a class="author ">
                          <span>张楚岚</span>
                          <span class="border-primary border rounded text-primary small  p-1">月下观鸟</span>
                          <span class="text-info">@冯宝宝 </span>
                          <span class="summary-text small">2020-04-10 16:01:27</span>
                        </a>
                      </div>
                      <div class="messageText ml-2 container m-2">
                        我机智你奶奶个腿儿啊，要不是打不过你，我非敲烂你这颗机智的头，你哪偷的铁锹，你到底多爱埋人！
                      </div>
                      <div class="messageText ml-2 container m-2">
                        <a href="#"><span
                            class="summary-text small"
                        >回复ta</span>
                        </a>
                      </div>
                    </div>

                  </div>
                  <div class="container comment  m-1 p-0">
                    <a class="me-a avatar p-0 m-0 ">
                      <img
                          class="w-100 h-100 rounded-circle"
                          src="https://s1.ax1x.com/2020/04/10/GTQcH1.png" alt=""
                      >
                    </a>
                    <div class=" ml-3  ">
                      <div class="container ml-2">
                        <a class="author ">
                          <span>王也</span>
                          <span class="border-primary border rounded text-primary small  p-1">亿贫如洗</span>
                          <span class="text-info">@冯宝宝 </span>
                          <span class="summary-text small">2020-04-10 16:01:27</span>
                        </a>
                      </div>
                      <div class="messageText ml-2 container m-2">你这也太溜了！</div>
                      <div class="messageText ml-2 container m-2">
                        <a href="#"><span
                            class="summary-text small"
                        >回复ta</span>
                        </a>
                      </div>
                    </div>

                  </div>
                  <div class="container comment  m-1 p-0">
                    <a class="me-a avatar p-0 m-0 ">
                      <img
                          class="w-100 h-100 rounded-circle"
                          src="http://img.jk51.com/img_jk51/146022467.jpeg"
                          alt=""
                      >
                    </a>
                    <div class=" ml-3  ">
                      <div class="container ml-2">
                        <a class="author ">
                          <span>冯宝宝</span>
                          <span class="border-primary border rounded text-primary small  p-1">机智一批</span>
                          <span class="text-info">@王也 </span>
                          <span class="summary-text small">2020-04-10 16:01:27</span>
                        </a>
                      </div>
                      <div class="messageText ml-2 container m-2">没啥子，维手熟尔！</div>
                      <div class="messageText ml-2 container m-2 ">
                        <a href="#noteEdit"><span
                            class="summary-text small"
                        >回复ta</span>
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <!--*/-->
          </div>
        </div>

        <div class="container-lg">
          <nav aria-label="Page navigation" class="mt-3 ">
            <ul class="pagination">
              <li class="page-item"><span
                  class="page-link  changepage" onclick="prepage(this)"
                  th:attr="data-page=${page.current - 1 >1?page.current -1: 1}"
                  style="color: #17a2b8;cursor:pointer"
              >上一页</span>
              </li>
              <li class="page-item">
                <a
                    class="page-link changepage" href="javascript:void(0)"
                    style="color: #17a2b8"
                >当前在第
                  <span th:text="${page.current}">1</span>
                  页
                </a>
              </li>
              <li class="page-item"><span
                  class="page-link" onclick="nextpage(this)"
                  th:attr="data-page=${page.current + 1 > page.pages?page.pages: page.current + 1}"
                  style="color: #17a2b8;cursor:pointer"
              >下一页</span>
              </li>
              <li class="page-item text-center  mt-2 ml-2"></li>
              <li class="page ml-2 mt-1 w-25 ">
                <span class="text-center " th:text="'共'+ ${page.getPages()}+ '页'">共20页</span>
                <span class="text-center ">跳转到</span>
                <input type="text" class="w-25   rounded" name="page" id="page">
                <span class="text-center ">页</span>
                <a
                    class="btn btn-primary "
                    href="javascript:void(0)"
                    id="pagebtn"
                    onclick="changepage(this)"
                >确定
                </a>
              </li>

            </ul>
          </nav>
        </div>
      </div>
    </div>

    <script>

        $(function () {

            $(".changepage").click(function () {
                var page = $(this).attr('data-page');

                // comment/commentlist
                console.log("pages")
                $("#commentslist").load(/*[[@{comment/commentlist}]]*/"comment/commentlist",
                    {
                        'page': page
                    }, function () {
                        var page = $("#page").val('');
                    })
            })


            function clear() {

                $("#content").val('');
                $("#parentCommentId").val('-1');
                $('#replyCommentId').val('-1');
                $('#remind').removeAttr('checked');
                $("#content").attr('placeholder', '说点什么。。');
            }

            $(".reply").click(function () {
                alert('addasfasf')
            })

            $("#sender").click(function () {
                console.log("111")
                var content = $("#content").val();
                if (content == null || content.length <= 0) {
                    $("#errmsg").text("留言内容不能为空");
                    return;
                }

                var parentCommentId = $("#parentCommentId").val();
                var replyCommentId = $("#replyCommentId").val();
                var remind = $("#remind").prop("checked");
                $("#commentslist").load(/*[[@{comment/postcomment}]]*/"comment/postcomment",
                    {
                        'content': content,
                        'parentCommentId': parentCommentId,
                        'replyCommentId': replyCommentId,
                        'remind': remind,
                        'blogId': [[${blogDetailVO.blogId}]],
                    }, function () {
                        clear();
                    })

            })
        })
    </script>


  </div>

</div>





<script>






</script>




