<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header th:replace="admin/header::header-fragment"></header>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- 引入页面头header-fragment -->
      <div th:replace="admin/header::header-nav"></div>
      <!-- 引入工具栏sidebar-fragment -->
      <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
          </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">角色管理</h3>
              </div> <!-- /.card-body -->
              <div class="card-body">
                <div class="grid-btn">
                  <input
                      type="text" class="form-control col-1" id="roleName" name="roleName"
                      placeholder="角色名称" required="true"
                  >&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-info" onclick="roleAdd()">
                    <i
                        class="fa fa-plus"
                    ></i>&nbsp;新增
                  </button>

                  <!-- 按钮触发模态框 -->
                  <button class="btn btn-info" data-toggle="modal" data-target="#myModal">
                    <i
                        class="fa fa-trash-o"
                    ></i>&nbsp;设置权限
                  </button>
                  <button class="btn btn-danger" onclick="roleDelete()">
                    <i
                        class="fa fa-trash-o"
                    ></i>&nbsp;删除
                  </button>

                </div>

                <!-- 模态框（Modal） -->
                <div
                    class="modal fade"
                    id="myModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                          &times;
                        </button>
                        <h6 class="modal-title" id="myModalLabel">
                          设置权限
                        </h6>
                      </div>
                      <div class="modal-body">
                        <li class="layui-nav-item layui-this" th:each="menu,menuStart:${menus}">
                          <a href="javascript:;" th:text="${menu.name}">系统管理</a>
                          <ul class="layui-nav-child" style="background: #2b2e37;">
                            <li th:each="child:${menu.permissions}">
                              <a
                                  th:if="${#lists.isEmpty(child.permissions)}"
                                  th:text="${child.name}"
                                  href="javascript:;"
                                  style="margin-left: 20px;"
                              >用户管理
                              </a>
                            </li>
                          </ul>
                        </li>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary">
                          提交更改
                        </button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal -->
                </div>
                <table id="jqGrid" class="table table-bordered">
                </table>

                <div id="jqGridPager">

                </div>
              </div><!-- /.card-body -->
            </div>
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <!-- 引入页脚footer-fragment -->
      <div th:replace="admin/footer::footer-fragment"></div>
    </div>
    <!-- jQuery -->
    <script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
    <!-- Bootstrap 4 -->
    <script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
    <!-- jqgrid -->
    <script th:src="@{/admin/plugins/jqgrid-5.7.0/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/admin/plugins/jqgrid-5.7.0/grid.locale-cn.js}"></script>
    <!-- sweetalert -->
    <script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/admin/dist/js/public.js}"></script>
    <script th:src="@{/admin/dist/js/role.js}"></script>

  </body>
</html>
