<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header th:replace="admin/header::header-fragment">
    <link rel="stylesheet" th:href="@{/admin/plugins/bootstrap/css/bootstrap.css}"/>
  </header>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- 引入页面头header-fragment -->
      <div th:replace="admin/header::header-nav"></div>
      <!-- 引入工具栏sidebar-fragment -->
      <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
          </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">签到管理</h3>
              </div> <!-- /.card-body -->
              <div class="card-body">
                <div class="grid-btn">

                  <button class="btn btn-info" data-toggle="modal" data-target="#myModal">
                    <i
                        class="fa fa-plus"
                    ></i>&nbsp;新增
                  </button>

                  <button class="btn btn-danger" onclick="roleDelete()">
                    <i
                        class="fa fa-trash-o"
                    ></i>&nbsp;删除
                  </button>

                </div>

                <div>

                </div>

                <!-- 模态框（Modal） -->
                <div
                    class="modal fade"
                    id="myModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                          &times;
                        </button>
                        <h6 class="modal-title" id="myModalLabel">
                          新增规则
                        </h6>
                      </div>
                      <div class="modal-body">
                        <form class="signFrom">
                          <div class="form-group">
                            <label for="name" class="control-label">名称</label>
                            <input
                                type="text" class="form-control" id="name" name="name"
                                placeholder="请输入名称" required="true"
                            >
                          </div>
                          <div class="form-group">
                            <label for="option1" class="control-label">重置条件：</label>

                            <label class="btn btn-secondary" id="option1-label" for="option1">重置为第一天</label>
                            <input
                                type="radio"
                                class="btn-check"
                                name="options"
                                id="option1"
                                autocomplete="off"
                                style="visibility: hidden"
                            >

                            <label class="btn btn-secondary" id="option2-label" for="option2">按最后一天</label>
                            <input
                                type="radio"
                                class="btn-check"
                                name="options"
                                id="option2"
                                autocomplete="off"
                                checked
                                style="visibility: hidden"
                            >
                          </div>
                          <div class="form-group">
                            <label for="day" class="control-label">名称</label>
                            <input
                                type="number" class="form-control" id="day" name="day"
                                placeholder="触发天数" required="true"
                            >
                          </div>

                        </form>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            onclick=""
                            data-dissmiss="modal"
                        >
                          提交
                        </button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal -->
                </div>
                <table id="jqGrid" class="table table-bordered">
                </table>

                <div id="jqGridPager">

                </div>
              </div><!-- /.card-body -->
            </div>
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <!-- 引入页脚footer-fragment -->
      <div th:replace="admin/footer::footer-fragment"></div>
    </div>
    <!-- jQuery -->
    <script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
    <script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
    <script th:src="@{/admin/plugins/jqgrid-5.7.0/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/admin/plugins/jqgrid-5.7.0/grid.locale-cn.js}"></script>
    <script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/admin/dist/js/public.js}"></script>
    <script th:src="@{/admin/dist/js/sign.js}"></script>
  </body>
</html>
