<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title th:text="${configurations.get('websiteName')}+' | '+${pageName}">关于</title>
    <meta name="description" th:content="${configurations.get('websiteDescription')}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" th:href="@{${configurations.get('websiteIcon')}}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">
    <link rel="stylesheet" th:href="@{/blog/amaze/css/me.css}">
    <link rel="stylesheet" th:href="@{/blog/amaze/css/semantic.min.css}">
  </head>
  <body>
    <div th:replace="blog/amaze/header::nav-fragment"></div>
    <div th:replace="blog/amaze/header::header-fragment"></div>
    <div class="m-margin- animated fadeIn">
      <div class="ui m-opacity container">

        <div class="ui segment m-opacity">
          <div class="ui container" align="center">
            <div class="ui labeled button m-margin-tb-tiny">
              <a href="#studyresource" class="ui basic teal button">学习资源</a>
              <div class="ui basic teal left pointing label" th:text="${sysDataBankVo.studyList.size}">85</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
              <a href="#pictureresource" class="ui basic teal button">图片资源</a>
              <div class="ui basic teal left pointing label" th:text="${sysDataBankVo.imgList.size}">14</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
              <a href="#officeresource" class="ui basic teal button">办公资源</a>
              <div class="ui basic teal left pointing label" th:text="${sysDataBankVo.officeList.size}">29</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
              <a href="#recreationresource" class="ui basic teal button">娱乐资源</a>
              <div class="ui basic teal left pointing label" th:text="${sysDataBankVo.recreationList.size}">32</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
              <a href="#designresource" class="ui basic teal button">设计资源</a>
              <div class="ui basic teal left pointing label" th:text="${sysDataBankVo.designList.size}">30</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
              <a href="#searchresource" class="ui basic teal button">搜索资源</a>
              <div class="ui basic teal left pointing label" th:text="${sysDataBankVo.searchList.size}">18</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
              <a href="#toolresource" class="ui basic teal button">工具资源</a>
              <div class="ui basic teal left pointing label" th:text="${sysDataBankVo.toolList.size}">48</div>
            </div>

            <a onclick="addResource()" class="ui red basic button m-margin-tb-tiny">添加资源</a>

          </div>
        </div>


        <!--资源区域-->
        <div class="box-shadow-max">
          <div class="ui top attached teal m-opacity segment box-shadow-max">
            <div class="ui m-padded-tb-large">
              <div class="ui stackable m-opacity grid">

                <h2 id="studyresource" style="margin: 0 auto" class="ui header">
                  <i class="layui-icon">&#xe705;</i>
                  <div class="content">
                    <span>学习资源</span>
                  </div>
                </h2>

                <div
                    class="ui stackable four cards m-margin-top grid"
                    style="width: 6000px"
                    
                >

                    <a th:href="${item.url}" target="_blank" class="orange card" th:each="item:${sysDataBankVo.studyList}">
                      <div class="content">
                        <img
                            class="left circular floated mini ui image"
                            th:src="${item.head}"
                            style="width: 45px;height: 45px;"
                        >
                        <div
                            class="left"
                            style="font-size: medium;font-weight: bold;color: #2C7EEA"
                            th:text="${item.name}"
                        ></div>
                        <div class="meta" style="" th:text="${item.classifyItem}">视屏类</div>
                        <div class="description" th:text="${item.description}">众所周知，B站是一个学习网站</div>
                      </div>
                    </a>
                 
                </div>

                <h2 id="pictureresource" style="margin: 0 auto" class="ui header m-margin-top">
                  <i class="layui-icon">&#xe64a;</i>
                  <div class="content">
                    图片资源
                  </div>
                </h2>
                
                <div class="ui stackable four cards m-margin-top grid" style="width: 6000px">

                  <a th:href="${item.url}" target="_blank" class="orange card" th:each="item:${sysDataBankVo.imgList}">
                    <div class="content">
                      <img
                          class="left circular floated mini ui image"
                          th:src="${item.head}"
                          style="width: 45px;height: 45px;"
                      >
                      <div
                          class="left"
                          style="font-size: medium;font-weight: bold;color: #2C7EEA"
                          th:text="${item.name}"
                      ></div>
                      <div class="meta" style="" th:text="${item.classifyItem}">视屏类</div>
                      <div class="description" th:text="${item.description}">众所周知，B站是一个学习网站</div>
                    </div>
                  </a>

                </div>

                <h2 id="officeresource" style="margin: 0 auto" class="ui header m-margin-top">
                  <i class="laptop icon"></i>
                  <div class="content">
                    办公资源
                  </div>
                </h2>

                <div class="ui stackable four cards m-margin-top grid" style="width: 6000px">

                  <a th:href="${item.url}" target="_blank" class="orange card" th:each="item:${sysDataBankVo.officeList}">
                    <div class="content">
                      <img
                          class="left circular floated mini ui image"
                          th:src="${item.head}"
                          style="width: 45px;height: 45px;"
                      >
                      <div
                          class="left"
                          style="font-size: medium;font-weight: bold;color: #2C7EEA"
                          th:text="${item.name}"
                      ></div>
                      <div class="meta" style="" th:text="${item.classifyItem}">视屏类</div>
                      <div class="description" th:text="${item.description}">众所周知，B站是一个学习网站</div>
                    </div>
                  </a>

                </div>

                <h2 id="recreationresource" style="margin: 0 auto" class="ui header m-margin-top">
                  <i class="camera retro icon"></i>
                  <div class="content">
                    娱乐资源
                  </div>
                </h2>

                <div class="ui stackable four cards m-margin-top grid" style="width: 6000px">

                  <a th:href="${item.url}" target="_blank" class="orange card" th:each="item:${sysDataBankVo.recreationList}">
                    <div class="content">
                      <img
                          class="left circular floated mini ui image"
                          th:src="${item.head}"
                          style="width: 45px;height: 45px;"
                      >
                      <div
                          class="left"
                          style="font-size: medium;font-weight: bold;color: #2C7EEA"
                          th:text="${item.name}"
                      ></div>
                      <div class="meta" style="" th:text="${item.classifyItem}">视屏类</div>
                      <div class="description" th:text="${item.description}">众所周知，B站是一个学习网站</div>
                    </div>
                  </a>

                </div>

                <h2 id="designresource" style="margin: 0 auto" class="ui header m-margin-top">
                  <i class="pencil alternate icon"></i>
                  <div class="content">
                    设计资源
                  </div>
                </h2>

                <div class="ui stackable four cards m-margin-top grid" style="width: 6000px">

                  <a th:href="${item.url}" target="_blank" class="orange card" th:each="item:${sysDataBankVo.designList}">
                    <div class="content">
                      <img
                          class="left circular floated mini ui image"
                          th:src="${item.head}"
                          style="width: 45px;height: 45px;"
                      >
                      <div
                          class="left"
                          style="font-size: medium;font-weight: bold;color: #2C7EEA"
                          th:text="${item.name}"
                      ></div>
                      <div class="meta" style="" th:text="${item.classifyItem}">视屏类</div>
                      <div class="description" th:text="${item.description}">众所周知，B站是一个学习网站</div>
                    </div>
                  </a>

                </div>

                <h2 id="searchresource" style="margin: 0 auto" class="ui header m-margin-top">
                  <i class="search icon"></i>
                  <div class="content">
                    搜索资源
                  </div>
                </h2>
                <div class="ui stackable four cards m-margin-top grid" style="width: 6000px">

                  <a th:href="${item.url}" target="_blank" class="orange card" th:each="item:${sysDataBankVo.searchList}">
                    <div class="content">
                      <img
                          class="left circular floated mini ui image"
                          th:src="${item.head}"
                          style="width: 45px;height: 45px;"
                      >
                      <div
                          class="left"
                          style="font-size: medium;font-weight: bold;color: #2C7EEA"
                          th:text="${item.name}"
                      ></div>
                      <div class="meta" style="" th:text="${item.classifyItem}">视屏类</div>
                      <div class="description" th:text="${item.description}">众所周知，B站是一个学习网站</div>
                    </div>
                  </a>

                </div>

                <h2 id="toolresource" style="margin: 0 auto" class="ui header m-margin-top">
                  <i class="wrench  icon"></i>
                  <div class="content">
                    工具资源
                  </div>
                </h2>

                <div class="ui stackable four cards m-margin-top grid" style="width: 6000px">

                  <a th:href="${item.url}" target="_blank" class="orange card" th:each="item:${sysDataBankVo.toolList}">
                    <div class="content">
                      <img
                          class="left circular floated mini ui image"
                          th:src="${item.head}"
                          style="width: 45px;height: 45px;"
                      >
                      <div
                          class="left"
                          style="font-size: medium;font-weight: bold;color: #2C7EEA"
                          th:text="${item.name}"
                      ></div>
                      <div class="meta" style="" th:text="${item.classifyItem}">视屏类</div>
                      <div class="description" th:text="${item.description}">众所周知，B站是一个学习网站</div>
                    </div>
                  </a>

                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    </div>


    <footer th:replace="blog/amaze/footer::footer-fragment" class="layer-footer"></footer>
    <script th:src="@{/blog/amaze/js/header.js}"></script>
    <script th:src="@{/blog/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{'/blog/plugins/individuation/'+${check}+'.js'}"></script>
    <script th:src="@{'/blog/plugins/individuation/'+${slide}+'.js'}"></script>
    <script th:src="@{'/blog/plugins/individuation/'+${background}+'.js'}"></script>
    <script>


        function addResource() {
            // 在此处输入 layer 的任意代码
            layer.open({
                type: 1, // page 层类型
                area: ['800px', '300px'],
                title: '添加资源',
                shade: 0.6, // 遮罩透明度
                shadeClose: true, // 点击遮罩区域，关闭弹层
                maxmin: true, // 允许全屏最小化
                anim: 0, // 0-6 的动画形式，-1 不开启
                content:
                    '          <form action="/resources" method="post" class="ui segment form">\n' +
                    '\n' +
                    '            <div class="two fields">\n' +
                    '              <div class="field">\n' +
                    '                <label>资源名称</label>\n' +
                    '                <input name="resourceName" type="text" placeholder="资源名称（如：CSDN）">\n' +
                    '              </div>\n' +
                    '              <div class="field">\n' +
                    '                <label>资源地址</label>\n' +
                    '                <input name="resourceAddress" type="text" placeholder="资源地址（如：https://www.csdn.net/）">\n' +
                    '              </div>\n' +
                    '            </div>\n' +
                    '            <div class="two fields">\n' +
                    '              <div class="field">\n' +
                    '                <label>一级分类</label>\n' +
                    '                <div class="ui fluid selection dropdown" tabindex="0">\n' +
                    '                  <input type="hidden" name="firstType" value="学习资源">\n' +
                    '                  <i class="dropdown icon"></i>\n' +
                    '                  <div class="text">学习资源</div>\n' +
                    '                  <div class="menu transition hidden" tabindex="-1">\n' +
                    '                    <div class="item active selected" data-value="学习资源">学习资源</div>\n' +
                    '                    <div class="item" data-value="图片资源">图片资源</div>\n' +
                    '                    <div class="item" data-value="办公资源">办公资源</div>\n' +
                    '                    <div class="item" data-value="娱乐资源">娱乐资源</div>\n' +
                    '                    <div class="item" data-value="设计资源">设计资源</div>\n' +
                    '                    <div class="item" data-value="搜索资源">搜索资源</div>\n' +
                    '                    <div class="item" data-value="工具资源">工具资源</div>\n' +
                    '                  </div>\n' +
                    '                </div>\n' +
                    '              </div>\n' +
                    '\n' +
                    '              <div class="field">\n' +
                    '                <label>二级分类</label>\n' +
                    '                <input name="secondType" type="text" placeholder="二级分类（如：文章类）">\n' +
                    '              </div>\n' +
                    '            </div>\n' +
                    '\n' +
                    '            <!--        <div class="ui aligned container" align="center">-->\n' +
                    '            <!--            <button class="ui teal submit button">提交</button>-->\n' +
                    '            <!--        </div>-->\n' +
                    '\n' +
                    '\n' +
                    '            <div class="actions" _msthidden="2" align="center">\n' +
                    '              <button style="width:70px" class="ui positive submit icon button" _msthidden="1">\n' +
                    '                提交\n' +
                    '              </button>\n' +
                    '            </div>\n' +
                    '\n' +
                    '            <div style="text-align: center;margin-top: 10px;color: red">注：添加成功后，经管理员审核通过，即可在该页面查看添加的资源（目前只收集页面所显示的七大类资源）</div>\n' +
                    '\n' +
                    '          </form>\n'
            });

        }

        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on: 'hover'
        });

        // resourceName  resourceAddress  firstType  secondType
        // 非空校验
        $('.ui.form').form({
            fields: {
                title: {
                    identifier: 'resourceName',
                    rules: [{
                        type: 'empty',
                        prompt: '标题：请输入资源名称'
                    }]
                },
                content: {
                    identifier: 'resourceAddress',
                    rules: [{
                        type: 'empty',
                        prompt: '标题：请输入资源地址'
                    }]
                },
                typeId: {
                    identifier: 'firstType',
                    rules: [{
                        type: 'empty',
                        prompt: '标题：请输入一级分类'
                    }]
                },
                firstPicture: {
                    identifier: 'secondType',
                    rules: [{
                        type: 'empty',
                        prompt: '标题：请输入二级分类'
                    }]
                },
            }
        });


    </script>
  </body>
</html>
