<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head-fragment">
    <meta charset="utf-8">
    <title th:text="|${configurations.get('websiteName')} - ${pageName}|">主页</title>
    <meta name="description" th:content="${configurations.get('websiteDescription')}">
    <link rel="shortcut icon" th:href="@{${configurations.get('websiteIcon')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Window-target" content="_top"/>
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/layui/css/layui.css}">
    <style>
        a {
            color: black;
            text-decoration: none;
        }

        .headPortrait {
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
    </style>

  </head>
  <nav th:fragment="nav-fragment" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-for="toggle-items">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" th:text="${configurations.get('websiteName')}">
        </a>
      </div>
      <div class="navbar-collapse" style="display: none;" id="toggle-items">
        <ul class="nav navbar-nav navbar-right">
          <a th:href="@{/index}">主页</a>
          </li>
          <li>
            <a th:href="@{/link}">友链</a>
          </li>
          <li>
            <a th:href="@{/about}">关于</a>
          </li>
          <li>
            <a href="https://github.com/XzhiYong">GitHub</a>
          </li>
          <li>
            <a th:href="@{/admin/login}">发布自己的博客</a>
          </li>
        </ul>
      </div>
      <div id="huxblog_navbar">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a th:href="@{/index}">主页</a>
            </li>
            <li>
              <a th:href="@{/link}">友链</a>
            </li>
            <li>
              <a th:href="@{/shopping}">积分商城</a>
            </li>
            <li>
              <a href="https://github.com/XzhiYong">GitHub</a>
            </li>
            <li>
              <a th:href="@{/admin/login}">发布自己的博客</a>
            </li>
            <li th:if="${user}">
              <div class="layui-btn-container" style="margin-top: 10px">
                <a
                    href="#"
                    class="layui-btn-primary demo-dropdown-on"
                    style="margin-top: -10px"
                    lay-options="{trigger: 'hover'}"
                >
                  <img
                      class="headPortrait" th:src="${user.headPortrait}" style=" display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            width: 40px;
            height: 40px;"
                  >
                </a>
              </div>
            </li>
            <li th:if="!${user}">
              <a th:href="@{/admin/login}">
                点击登录
              </a>
            </li>

            <li>
              &nbsp;
              &nbsp;
              &nbsp;
            </li>
          </ul>

        </div>
      </div>
      <!-- /.navbar-collapse -->
      <script th:src="@{/blog/plugins/jquery/jquery.min.js}"></script>
      <script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
      <script th:src="@{/admin/plugins/layui/layui.js}"></script>
      <script th:src="@{/blog/amaze/js/header.js}"></script>

      <script th:src="@{'/blog/plugins/individuation/'+${check}+'.js'}"></script>
      <script th:src="@{'/blog/plugins/individuation/'+${slide}+'.js'}"></script>
      <script th:src="@{'/blog/plugins/individuation/'+${background}+'.js'}"></script>
      <script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
      <script>
          L2Dwidget.init({
              "model": {
                  "jsonPath": "[[${cartoonCharacter}]]",
                  "scale": 1,
                  "hHeadPos": 0.5,
                  "vHeadPos": 0.618
              },
              "display": {"position": "right", "width": 100, "height": 100, "hOffset": 0, "vOffset": 0},
              "mobile": {"show": true, "scale": 0.5},
              "react": {"opacityDefault": 0.7, "opacityOnHover": 0.2}
          });

      </script>
      <!--
       其他可选的模型：
         小帅哥： https://unpkg.com/live2d-widget-model-chitose@1.0.5/assets/chitose.model.json
         萌娘：https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json
         白猫：https://unpkg.com/live2d-widget-model-tororo@1.0.5/assets/tororo.model.json
         黑猫： https://unpkg.com/live2d-widget-model-hijiki@1.0.5/assets/hijiki.model.json
         小可爱（女）：https://unpkg.com/live2d-widget-model-koharu@1.0.5/assets/koharu.model.json
         小可爱（男）：https://unpkg.com/live2d-widget-model-haruto@1.0.5/assets/haruto.model.json
         初音：https://unpkg.com/live2d-widget-model-miku@1.0.5/assets/miku.model.json
         圣职者妹妹：https://unpkg.com/live2d-widget-model-z16@1.0.5/assets/z16.model.json
         茶杯犬：https://cdn.jsdelivr.net/npm/live2d-widget-model-wanko@1.0.5/assets/wanko.model.json
         绿毛妹妹：https://unpkg.com/live2d-widget-model-tsumiki@1.0.5/assets/tsumiki.model.json
         金龟子妹妹：https://unpkg.com/live2d-widget-model-unitychan@1.0.5/assets/unitychan.model.json
         https://unpkg.com/live2d-widget-model-nito@1.0.5/assets/nito.model.json
         https://unpkg.com/live2d-widget-model-ni-j@1.0.5/assets/ni-j.model.json
         小阿狸： https://unpkg.com/live2d-widget-model-nico@1.0.5/assets/nico.model.json
         https://unpkg.com/live2d-widget-model-nietzche@1.0.5/assets/nietzche.model.json
         https://unpkg.com/live2d-widget-model-nipsilon@1.0.5/assets/nipsilon.model.json
         女学生： https://unpkg.com/live2d-widget-model-hibiki@1.0.5/assets/hibiki.model.json
     -->
      <script>
          $(function () {
              $('.navbar-toggle').click(function () {
                  $('#toggle-items').fadeToggle("fast");
              });
          })

      </script>
    </div>
    <!-- /.container -->
  </nav>
  <header
      th:fragment="header-fragment" class="intro-header"
      th:style="'background-image:url(' + @{/blog/amaze/images/header.jpg} + ');'"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
          <span class="subheading">
          </span>
            <!--          <span class="subheading">-->
            <!--              我不怕千万人阻挡，只怕自己投降-->
            <!--          </span>-->
          </div>
        </div>
      </div>
    </div>
  </header>
</html>
