<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title th:text="${configurations.get('websiteName')}+' | '+${pageName}">关于</title>
    <meta name="description" th:content="${configurations.get('websiteDescription')}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" th:href="@{${configurations.get('websiteIcon')}}"/>
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/layui/css/layui.css}">
    <title>主页</title>
    <style>
        a {
            color: #0E0EFF;
        }
    </style>
  </head>
  <body>

    <div th:replace="blog/amaze/header::nav-fragment"></div>
    <div th:replace="blog/amaze/header::header-fragment"></div>

    <div class="layui-container fly-marginTop fly-user-main">

      <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
      </div>
      <div class="site-mobile-shade"></div>

      <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
      </div>
      <div class="site-mobile-shade"></div>


      <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
          <button class="layui-btn layui-btn-danger" id="LAY_delallmsg">清空全部消息</button>
          <div id="LAY_minemsg" style="margin-top: 10px;">
            <ul class="mine-msg">
              <li data-id="${msg.id}" th:each="msg:${msgList.list}">
                <blockquote class="layui-elem-quote">
                  
                  <span th:if="${msg.type==0}">
                    系统消息:<i th:utext="${msg.msg}"></i>
                  </span>

                  <span th:if="${msg.type==1}">
                  <a th:href="@{/home(userId=${msg.user1.adminUserId})}" target="_blank">
                    <cite th:text="${msg.user1.nickName}">111</cite>
                  </a>
                 &nbsp; 回答了您的文章  &nbsp;
                  <a target="_blank" th:href="@{/blog/detail(blogId=${msg.blog.blogId})}">
                    <cite th:text="${msg.blog.blogTitle}"></cite>
                  </a>
                  </span>

                  <span th:if="${msg.type==2}">
                     <a th:href="@{/home(userId=${msg.user1.adminUserId})}" target="_blank">
                       <cite th:text="${msg.user1.nickName}"></cite>
                      </a>
                         &nbsp;  回复了您的评论&nbsp; 
                      <a th:href="@{/blog/detail(blogId=${msg.blog.blogId})}" target="_blank">
                         <cite th:utext="${msg.msg}"></cite>
                       </a>
                       &nbsp;  所属文章：
                          <a target="_blank" th:href="@{/blog/detail(blogId=${msg.blog.blogId})}">
                             <cite th:text="${msg.blog.blogTitle}"></cite>
                           </a>
                  </span>

                </blockquote>
                <p>
                  <span th:text="${#dates.format(msg.createTime,'yyyy-MM-dd')}"></span>
                  <a
                      href="javascript:;"
                      th:attr="data-id=${msg.id}"
                      onclick="deleteById(this)"

                      class="layui-btn layui-btn-small layui-btn-danger fly-delete"
                  >删除
                  </a>
                </p>
              </li>
            </ul>
            <div style="text-align: center">
              <div id="laypage-main">
              </div>
              <script>
                  layui.use(['laypage', 'layer'], function () {
                      var laypage = layui.laypage, layer = layui.layer;
                      //完整功能
                      laypage.render({
                          elem: 'laypage-main',
                          count: [[${msgList.total}]],
                          curr: [[${msgList.pageNum}]],
                          limit: [[${msgList.pageSize}]],
                          layout: ['prev', 'page', 'next', 'skip'],
                          jump: function (obj, first) {
                              if (!first) {
                                  location.href = "/msg/list?page=" + obj.curr;
                              }
                          }
                      });
                  })
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-bottom: 15%"></div>
    <footer th:replace="blog/amaze/footer::footer-fragment"></footer>

    <script th:src="@{/blog/amaze/js/header.js}"></script>
    <script th:src="@{/blog/plugins/comment/websocket.js}"></script>
    <script th:src="@{'/blog/plugins/individuation/'+${check}+'.js'}"></script>
    <script th:src="@{'/blog/plugins/individuation/'+${slide}+'.js'}"></script>
    <script th:src="@{'/blog/plugins/individuation/'+${background}+'.js'}"></script>

    <script>
        //删除全部
        $('#LAY_delallmsg').on('click', function () {
            layer.confirm('确定清空吗？', function () {
                $.ajax({
                    type: "POST",
                    url: "/msg/message/remove?all=" + true,
                    success: function (r) {
                        if (r.resultCode === 200) {
                            layer.msg("清空成功", {icon: 1});
                            reload()
                        } else {
                            layer.msg(r.msg, {icon: 5});
                        }
                    }
                });

            });
        });

        function deleteById(obj) {
            var id = $(obj).data('id');
            layer.confirm('确定要删除吗？', function () {
                $.ajax({
                    type: "POST",
                    url: "/msg/message/remove?all=" + false + "&id=" + id,
                    success: function (r) {
                        if (r.resultCode === 200) {
                            layer.msg("删除成功", {icon: 1});
                            location.reload();
                        } else {
                            layer.msg(r.msg, {icon: 5});
                        }
                    }
                });

            });
        }

    </script>
  </body>
</html>
