<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title th:text="${configurations.get('websiteName')}+' | '+${pageName}">关于</title>
    <meta name="description" th:content="${configurations.get('websiteDescription')}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" th:href="@{${configurations.get('websiteIcon')}}"/>
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/blog/amaze/css/me.css}">
    <link rel="stylesheet" th:href="@{/blog/plugins/zplayer-master/css/zplayer.min.css}">
  </head>
  <body>

    <div th:replace="blog/amaze/header::nav-fragment"></div>
    <div th:replace="blog/amaze/header::header-fragment"></div>

    <div class="layui-container fly-marginTop fly-user-main">
      <div class="ui m-margin- m-opacity" align="center">
        <div class="ui container box-shadow-max">
          <div id="player2" class="zplayer-withlrc">
            <div class="zplayer">
              <div class="zplayer-content">
                <div class="zplayer-pic">
                  <img src="http://p1.music.126.net/PNMq0iypxEeHPhJFUnhQZA==/109951163007879949.jpg?param=300y300">
                </div>
                <div class="zplayer-info">
                  <div class="zplayer-music">
                    <i class="zplayer-list-btn z-icon z-icon-reorder"></i>
                  </div>
                  <ol style="max-height:50px;" class="zplayer-list">

                  </ol>
                  <div class="zplayer-controller">
                    <div class="zplayer-bar-wrap">
                      <div class="zplayer-bar">
                        <div class="zplayer-loaded" style="width: 0"></div>
                        <div class="zplayer-played" style="width: 0">
                          <span class="zplayer-thumb"></span>
                        </div>
                      </div>
                    </div>
                    <div class="zplayer-time">
                      <span class="zplayer-ptime">00:00</span>
                      /
                      <span class="zplayer-dtime">00:00</span>
                      <div class="zplayer-menu-bars">
                        <i class="z-icon z-icon-backward"></i>
                        <i class="z-icon z-icon-play"></i>
                        <i class="z-icon z-icon-pause display-none"></i>
                        <i class="z-icon z-icon-forward"></i>
                      </div>
                      <div class="zplayer-menu-volume">
                        <i class="volume-icon z-icon z-icon-volume-up"></i>
                        <div class="zplayer-volume-bar">
                          <div class="zplayer-volume-played" style="width:80%">
                            <span class="zplayer-volume-thumb"></span>
                          </div>
                        </div>
                        <i class="lrc-icon z-icon z-icon-list-alt"></i>
                        <i class="player-type-icon z-icon z-icon-retweet"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="zlrc">
                <div class="zplayer-lrc">
                  <div class="zplayer-lrc-contents" style="transform: translateY(0);">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <footer th:replace="blog/amaze/footer::footer-fragment"></footer>

    <script th:src="@{/blog/amaze/js/header.js}"></script>
    <script type="text/javascript" th:src="@{/blog/plugins/zplayer-master/js/zplayer.min.js}"></script>

    <script th:src="@{'/blog/plugins/individuation/'+${check}+'.js'}"></script>
    <script th:src="@{'/blog/plugins/individuation/'+${slide}+'.js'}"></script>
    <script th:src="@{'/blog/plugins/individuation/'+${background}+'.js'}"></script>
    <script>
        $.ajax({
            type: "GET",
            url: "/user-music/list",
            success: function (r) {
                if (r == null) {
                    layer.msg("你还未同步音乐!", {icon: 5});
                } else {
                    var zp2 = new zplayer({
                        element: document.getElementById("player2"),
                        lrcStart: 1,/*是否开启歌词功能 ，默认false（为true时musics集合中需要传入lrc字段。）*/
                        autoPlay: true,/*是否开启自动播放,默认false*/
                        musics: r
                    })
                    zp2.init();
                }

            }
        });


        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
    </script>
  </body>
</html>
