<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.blog.my.core.dao.BlogCommentMapper">
    <resultMap id="selectAllParentCommentNullPageMap" type="com.site.blog.my.core.entity.BlogComment">
        <id column="cid" property="cid"/>
        <result column="uid" property="uid"/>
        <association property="user" column="uid" javaType="com.site.blog.my.core.entity.AdminUser" autoMapping="true"
                     select="com.site.blog.my.core.dao.AdminUserMapper.selectByPrimaryKey"/>
        <collection property="replyBlogComments" column="cid" ofType="com.site.blog.my.core.entity.BlogComment" autoMapping="true"
                     select="com.site.blog.my.core.dao.BlogCommentMapper.selectByParentCommentId"/>

    </resultMap>

    <select id="selectAllParentCommentNullPage" resultMap="selectAllParentCommentNullPageMap">
        select *
        from tb_blog_comment
        where parentCommentId is null
          and blog_id = #{blogId}
    </select>

    <select id="selectByParentCommentId" resultMap="selectAllParentCommentNullPageMap">
        select * from tb_blog_comment where parentCommentId=#{cid}
          and blog_id = #{blogId}
    </select>

</mapper>
