<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.blog.my.core.mapper.UserResourceMapper">

    <select id="listVo" resultMap="listVoMap">
        select *
        from tb_user_resource
        where user_id = #{userId}
        <if test="status!=null and status!=''">
            and status=#{status}
        </if>
    </select>

    <select id="getByIdVo" resultMap="listVoMap">
        select *
        from tb_user_resource
        where id = #{id}
    </select>

    <resultMap id="listVoMap" type="com.site.blog.my.core.entity.UserResource" autoMapping="true">
        <id column="id" property="id"/>
        <result column="resource_id" property="resourceId"/>
        <result column="user_id" property="userId"/>
        <association property="user" column="user_id" autoMapping="true"
                     javaType="com.site.blog.my.core.entity.AdminUser"
                     select="com.site.blog.my.core.mapper.AdminUserMapper.selectByPrimaryKey"/>
        <association property="sysResource" column="resource_id" javaType="com.site.blog.my.core.entity.SysResource"
                     select="com.site.blog.my.core.mapper.SysResourceMapper.selectById"/>
    </resultMap>
</mapper>
