<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.blog.my.core.mapper.UserCommentMapper">
    <resultMap id="selectAllParentCommentNullPageMap" type="com.site.blog.my.core.entity.BlogComment">
        <id column="cid" property="cid"/>
        <result column="uid" property="uid"/>
        <association property="user" column="uid" javaType="com.site.blog.my.core.entity.AdminUser" autoMapping="true"
                     select="com.site.blog.my.core.mapper.AdminUserMapper.selectByPrimaryKey"/>
        <association property="replyToBlogComment" column="{replyCommentId=replyCommentId}" javaType="com.site.blog.my.core.entity.BlogComment" autoMapping="true"
                     select="com.site.blog.my.core.mapper.UserCommentMapper.selectByParentCommentId"/>
        <collection property="replyBlogComments" column="{cid=cid}" ofType="com.site.blog.my.core.entity.BlogComment" autoMapping="true"
                    select="com.site.blog.my.core.mapper.UserCommentMapper.selectByParentCommentIds" />

    </resultMap>

    <select id="selectAllParentCommentNullPage" resultMap="selectAllParentCommentNullPageMap">
        select *
        from tb_user_comment
        where parentCommentId is null
         order by createTime desc
    </select>

    <select id="selectByParentCommentIds" resultMap="selectAllParentCommentNullPageMap">
        select * from tb_user_comment where parentCommentId=#{cid}
                                       
    </select>


    <select id="selectByParentCommentId" resultMap="selectAllParentCommentNullPageMap">
        select * from tb_user_comment where cid=#{replyCommentId} 
    </select>

</mapper>
